@import "tailwindcss";

@theme {
  /* PRIMARY PALETTE */
  --color-primary: #590db8;
  --color-primary-darkest: #2b0743;
  --color-primary-dark: #5f26d1;
  --color-primary-light: #d0b4f2;
  --color-primary-lighter: #eadaff;
  --color-primary-lightest: #ecebff;

  /* SECONDARY PALETTE */
  --color-secondary: #f5b414;
  --color-secondary-dark: #eb9100;
  --color-secondary-light: #fff2d1;

  /* SUCCESS, ERROR, WARNING, INFO */
  --color-success: #1b9650;
  --color-error: #d63333;
  --color-warning: #fa6c00;
  --color-info: #0a90c9;

  /* WHITE */
  --color-white: #ffffff;

  /* NEUTRALS */
  --color-neutral-darker: #1a1a23;
  --color-neutral-dark: #44425a;
  --color-neutral-main: #6b688d;
  --color-midnight: #4a42bb;
  --color-midnight-light: #cecebe;
  --color-neutral-light: #ebeaf0;
  --color-neutral-lighter: #f7f7f9;

  /* TYPOGRAPHY */
  --font-sans: "Vazirmatn", "IRANSansX", "Tahoma", "Arial", sans-serif;
  --font-serif: "Georgia", serif;

  /* FONT SIZES + WEIGHTS */
  --text-h1: 36px;
  --text-h2: 32px;
  --text-h3: 28px;
  --text-h4: 24px;
  --text-h5: 22px;
  --text-h6: 20px;

  --text-xl: 20px;
  --text-l: 18px;
  --text-m: 16px;
  --text-s: 14px;
  --text-ms: 13px;
  --text-xs: 12px;
  --text-t: 10px;
  --text-ss: 9px;

  /* FONT WEIGHTS */
  --font-weight-fat: 900;
  --font-weight-heavy: 700;
  --font-weight-bold: 500;
  --font-weight-medium: 400;

  /* LINE HEIGHT */
  --leading-default: 1.8;
}

/* Global line-height rule */
* {
  line-height: var(--leading-default);

}
